<h1>Eat-Da-Burger!</h1>

<h3>Available Burgers:</h3>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        {{this.burger_name}}
        <button class='devour' data-id='{{this.id}}'>Devour it!</button>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Old Burgers:</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>{{this.burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Order a New Burger</h2>
<form class="target-burger">

  <div class="form-group">
    <label for="newPlanet">Burger:</label>
    <input type="text" id="newBurger" name="name">
  </div>

  <button type="submit">Making new Burger!</button>
</form>
